.table thead th {
  background-color: #398338 !important; /* Verde ICTA */
  color: rgb(0, 0, 0);
  text-align: center;
  vertical-align: middle;
}

body.exportando-pdf .no-export {
  display: none !important;
}